body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
}

.header{
    position: fixed;
    top: 0;
    background-color: #691417;
    padding: 5px 0;
    width: 100%;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.header-right{
    display: flex;
    gap: 6px;
}
.header a{
    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;    
}

.header a.logo{
    padding: 0 16px;
    font-size: 25px;
    font-weight: bold;
}
.header a.logo:hover{
    background-color: transparent ;
}
.header a:hover{
    background-color: #ddd;
    color: black;
}

#active-page{
    background-color: rgba(128, 128, 128, 0.508);
}


#bgvideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
    filter: blur(2.5px);
}

.centeredarchivio{
    text-shadow: 0 0 6px black,0 0 3px red;
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    margin-top: 20vh;
    text-decoration: none;
}

#centeredslogan
{ 
    color: black;
    text-shadow: 0 0 3px white, 0 0 1px red;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 2rem; 
}
#centeredcredits{
    color: black;
    text-shadow: 0 0 3px white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;

}
.worldslargest{
    color: #BB7D11;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin-top: 25vh;
    text-decoration: none;
}
.row-container{
    margin: 64px auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.row-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    gap: 8px;
}
.row-item .number{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    text-shadow: 0 0 2px white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row-item .number-caption{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.horizontal-line{
    border: 4px solid #BA7D11;
    margin-left: 300px;
    margin-right: 65%;
    margin-top:200px;
    margin-bottom: 10px;
}
#thegreats{
    color: #BA7D11;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
    margin-left: 300px;
    margin-bottom: 64px;
}
.artists-container { 
    margin: 0 auto;
    width: 62%;  
    align-self: center;
    display: flex;    
    flex-wrap: wrap;
    gap: 64px;
}
.artists-container img { 
    height: 180px;
    width: 180px;
}
.artists-container a{
    text-decoration: none;
}
.artists-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.composer{
    border: 1px solid #BA7D11;
    border-radius: 50%;
}
.composer-name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 0 0 3px black;
}

#seemore{
    text-align: center;
    border: 2px solid #691417;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    padding: 20px;
    margin: 50px;
    margin-left: 40%;
    margin-right: 40%;   
}
#seemore:hover{
    background-color: #691417;
    color: white;
}
#seemorelink{
    text-decoration: none;
    color: #691417;
}

.footer{
    height: fit-content;
    width: 100%;
    background-color: #691417;
    width: 100%;
    position: relative;
    bottom:0;
}
.footer-container{
    height: fit-content;
    width: fit-content;
    padding: 20px 0 0 0;  
    margin: 0 auto; 
    position: relative;
    bottom:0;
}
.footer-container2{
    height: fit-content;
    width: fit-content;
    left: 50%;
    transform: translate(-55%, 0);
    padding-bottom: 5px;
    position: relative;
    bottom: 0;
}
.footer-container2 div{
    margin: 10px;
}
.footer-container2 span{
    color: rgba(255, 255, 255, 0.719);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
}
#finalname{
    
    margin-left: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}
.socials{
    display: inline;
    padding: 10px;
}
.socials img{
    width: 40px;
}