.body{
    margin:0;
    display: flex;
    flex-direction: column;
}
.footer{
    height: fit-content;
    width: 100%;
    background-color: #691417;
    width: 100%;
    position: relative;
    bottom:0;
}
.footer-container{
    height: fit-content;
    width: fit-content;
    padding: 20px 0 0 0;  
    margin: 0 auto; 
    position: relative;
    bottom:0;
}
.footer-container2{
    height: fit-content;
    width: fit-content;
    left: 50%;
    transform: translate(-55%, 0);
    padding-bottom: 5px;
    position: relative;
    bottom: 0;
}
.footer-container2 div{
    margin: 10px;
}
.footer-container2 span{
    color: rgba(255, 255, 255, 0.719);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
}
#finalname{
    
    margin-left: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}
.socials{
    display: inline;
    padding: 10px;
}
.socials img{
    width: 40px;
}

.header{
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #691417;
    padding: 5px 0;
    margin: 0;
    width: 100%;   
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.header a{
    float: left;
    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

.header a.logo{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 25px;
    font-weight: bold;
}
.header a.logo:hover{
    background-color: #691417 ;
    color: white;
}
.header a:hover{
    background-color: #ddd;
    color: black;
}

#active-page{
    background-color: rgba(128, 128, 128, 0.508);
}

.header-right {
    transform: translateY(15%);
    float: right;
}
#bgvideo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
}

.centeredarchivio{
    text-shadow: 0 0 6px black,0 0 3px red;
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    margin-top: 15vh;
    text-decoration: none;
}

#centeredslogan
{ 
    color: black;
    text-shadow: 0 0 3px white, 0 0 3px red;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 2rem; 
}
#centeredcredits{
    color: black;
    text-shadow: 0 0 3px white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;

}
.worldslargest{
    color: #BB7D11;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin-top: 25vh;
    text-decoration: none;
}
.rowdetails{
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tabledetails{
    column-gap: 50px;
    text-align: center;
}
.tabledetails th{
    font-size: 2rem;
}
.tabledetails tr{
    font-size: 1rem;
}
.tabledetails td{
    padding: 0 30px;
}

.horizontal-line{
    border: 4px solid #BA7D11;
    margin-left: 300px;
    margin-right: 65%;
    margin-top:200px;
    margin-bottom: 10px;
}
#thegreats{
    color: #BA7D11;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
    margin-left: 300px;
    margin-right: 50%;
    margin-bottom: 30px;
}
.horizontal-scroll-container {   
    display: flex;    
    overflow-x: auto;
    margin-left: 300px;
    margin-right: 300px;
}
.horizontal-scroll-container img {    
    margin-right: 40px;
    height: 180px;
    width: 180px;
}
.horizontal-scroll-container a{
    text-decoration: none;
}
#bottom-margin{
    margin-top: 500px;
}
.composer{
    border: 1px solid #BA7D11;
    border-radius: 50%;
}
.composer-name{
    text-align: center;
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
    text-shadow: 0 0 3px black;
}
#seemore1{
    text-align: center;
    border: 2px solid #691417;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    padding: 20px;
    margin: 50px;
    margin-left: 40%;
    margin-right: 40%;   
}
#seemorelink{
    text-decoration: none;
    color: #691417;
}
#seemore1 a{
    text-decoration: none;
    color: #691417;
}
#seemore1:hover{
    background-color: #691417;
    color: white;
}
